<!-- <h1>Student Management Center</h1> -->
<div>
  <logout-app></logout-app>
</div>
<h3 *ngIf="studentIdToUpdate; else create">
   Update Student for Id: {{studentIdToUpdate}}
</h3>
<ng-template #create>
   <h3> Create New Student </h3>
</ng-template>
<div>
 <form [formGroup]="studentForm" (ngSubmit)="onStudentFormSubmit()">
  <table>
    <tr><td>Enter Name</td><td><input formControlName="name">
	       <label *ngIf="studentForm.get('name').invalid && processValidation" [ngClass] = "'error'"> Name is required. </label>
   	</td></tr>
    <tr><td>Enter Major</td><td><input formControlName="major">
	       <label *ngIf="studentForm.get('major').invalid && processValidation" [ngClass] = "'error'"> Major is required. </label>
    </td></tr>
    <tr><td>Enter Class 1</td><td><input formControlName="class_1">
      <label *ngIf="studentForm.get('class_1').invalid && processValidation" [ngClass] = "'error'"> Class 1 is required. </label>
    </td></tr>
    <tr><td>Enter Class 2</td><td><input formControlName="class_2">
      <label *ngIf="studentForm.get('class_2').invalid && processValidation" [ngClass] = "'error'"> Class 2 is required. </label>
    </td></tr>
    <tr><td>Enter Class 3</td><td><input formControlName="class_3">
      <label *ngIf="studentForm.get('class_3').invalid && processValidation" [ngClass] = "'error'"> Class 3 is required. </label>
    </td></tr>
    <tr><td>Enter Class 4</td><td><input formControlName="class_4">
      <label *ngIf="studentForm.get('class_4').invalid && processValidation" [ngClass] = "'error'"> Class 4 is required. </label>
    </td></tr>
    <tr><td colspan="2">
	    <button *ngIf="!studentIdToUpdate">CREATE</button>
		<button *ngIf="studentIdToUpdate">UPDATE</button>
	    <button (click)="backToCreateStudent()" *ngIf="studentIdToUpdate">Go Back</button>
	</td></tr>
  </table>
 </form>
 <br/>
 <div *ngIf="statusCode; else processing">
   <div *ngIf="statusCode === 201" [ngClass] = "'success'">
	    Student added successfully.
   </div>
   <div *ngIf="statusCode === 409" [ngClass] = "'success'">
        Student already exists.
   </div>
   <div *ngIf="statusCode === 200" [ngClass] = "'success'">
        Student updated successfully.
   </div>
   <div *ngIf="statusCode === 204" [ngClass] = "'success'">
        Student deleted successfully.
   </div>
   <div *ngIf="statusCode === 500" [ngClass] = "'error'">
        Internal Server Error.
   </div>
 </div>
 <ng-template #processing>
	<img *ngIf="requestProcessing" src="assets/images/loading.gif">
 </ng-template>
</div>
<h3>Student Details</h3>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Major</th>
    <th>Class 1</th>
    <th>Class 2</th>
    <th>Class 3</th>
    <th>Class 4</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let student of allStudents" >
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.major}}</td>
    <td>{{student.classes.class_1}}</td>
    <td>{{student.classes.class_2}}</td>
    <td>{{student.classes.class_3}}</td>
    <td>{{student.classes.class_4}}</td>
	  <td><button type="button" (click)="loadStudentToEdit(student.id)">Edit</button> </td>
	  <td><button type="button" (click)="deleteStudent(student.id)">Delete</button></td>
  </tr>
</table>
